/*
CSS Credit: http://www.templatemo.com/
*/

body{
	margin:0;
	padding:0;
	line-height: 1.5em;
	text-shadow: 0 0 6px #8762de;
	background-image: radial-gradient(#bd4c0a, #2e055d);
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
a:link, a:visited { color: #9d7b47; text-decoration: none; font-weight: bold;}
a:active, a:hover { color: #fdfff2; text-decoration: none; font-weight: bold; }

h1 {
	font-size: 22px;
	color: #78100d;
	font-weight: bold;
	background: url(images/plaza.jpg) no-repeat;
	height: 240px;
	padding-top: 160px;
	padding-left: 1450px;
}

h2 {
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	height: 22px;
	padding-top: 3px;
	padding-left: 5px;
	background: url(images/templatemo_h2.jpg) no-repeat;
}

.n1
{
	padding-left: 1000px;
}

#templatemo_maincontainer{
	width: 900px; /*Width of main container*/
	margin: 0 auto; /*Center container on page*/
	float: left;
	background: url(images/templatemo_content_bg.jpg) repeat-y;
}

#templatemo_topsection{
	background: url(images/templatemo_header.jpg) no-repeat;
	height: 283px; /*Height of top section*/
}

#templatemo_title{
	margin: 0;
	padding-top: 150px;
	padding-left: 50px;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
}

#templatemo_slogan {
	margin-top: 10px;
	padding-left: 50px;
	font-size: 12px;
	font-weight: bold;
	color: #ff9a59;
}

#templatemo_left_column {
	float: left;
	width: 229px;
}
#templatemo_menu_top {
	float: left;
	height: 33px;
	width: 229px;
	background: url(images/templatemo_menu_top.jpg) no-repeat;
}
#templatemo_right_column {
	float: right;
	width: 651px;
	padding-right: 20px;
}
#templatemo_destination {
	float: left;
	padding: 10px 10px 0px 40px;
	width: 280px;
	border-right: dotted 1px #782609;
}
#templatemo_search {
	float: right;
	padding: 0px 30px 0px 0px;
	width: 262px;
	background: url(images/templatemo_form-bg.jpg) repeat-y;
}
.search_top {
	background: url(images/templatemo_search.jpg) no-repeat;
	width: 262px;
	height: 76px;
}
.sarch_mid {
	margin: 0px;
	padding-left: 10px;
	padding-top: 0px;
}
.search_bot {
	background: url(images/templatemo_search_bot.jpg) no-repeat;
	height: 11px;
}
#templatemo_contact {
	width: 200px;
	height: 96px;
	background: url(images/templatemo_contact.jpg) no-repeat;
	color: #fff;
	padding-left: 29px;
	padding-top: 15px;
}
#templatemo_bot {
	float: left;
	height: 22px;
	width: 877px;
	background: url(images/templatemo_footer.jpg) no-repeat;	
}
#templatemo_footer{
	float: left;
	width: 100%;
	padding-top: 16px;
	height: 31px;
	color: #fff;
	text-align: center;
	background: url(images/templatemo_footer_bg.jpg) repeat-x;
}
#templatemo_footer a {
	color: #fff;
	font-weight: bold;
}
.templatemo_menu {
	margin-top: 40px;
	width: 188px;
}
.templatemo_menu li{
	list-style: none;
	height: 30px;
	display: block;
	background: url(images/templatemo_menu_bg.jpg) no-repeat;
	font-weight: bold;
	font-size: 12px;
	padding-left: 30px;
	padding-top: 7px;
}
.templatemo_menu a {
	color: #fff;
	text-decoration: none;
}
.templatemo_menu a:hover {
	color: #f08661;
}

.innertube{
	margin: 40px; /*Margins for inner DIV inside each column (to provide padding)*/
	margin-top: 0;
	margin-bottom: 10px;
	text-align: justify;
	border-bottom: dotted 1px #782609;
}

.menu
{
	padding-left: 30px;
	padding-top: 40px;
}

.nowe
{
	font-size: 16px;
	padding-top: 20px;
	padding-left: 20px;

}

#blok {
	position:relative;
	top: 60px;
	left: 140px;
	width:250px;
	height:2.2em;
	line-height:2.2em;
	margin:0 auto;
	border:3px solid #DDD;
	border-radius:6px 12px 18px 24px;
	font-size:1.5em;
	color: khaki;
	background-color: transparent;
	overflow:hidden;
}

#blok > p {
	position:absolute;
	margin:0;
	white-space:nowrap;
	animation:przesun 30s linear infinite;
	-webkit-animation:przesun 30s linear infinite;
}

@keyframes przesun
{
	0% { transform:translateX(0); }
	100% { transform:translateX(-100%); }
}

#rodzic {
	margin:0 auto;
	text-align:center;
}

#rodzic > span {
	display:block;
	float:left;
	width:40px;
	line-height:40px;
	margin:0 5px;
	border-radius:6px;
	animation:animowany_tekst 5s linear infinite;
	-webkit-animation:animowany_tekst 5s linear infinite;
}

#rodzic > #dziecko1 {
	animation-delay:250ms;
	-webkit-animation-delay:250ms;
}

#rodzic > #dziecko2 {
	animation-delay:500ms;
	-webkit-animation-delay:500ms;
}

#rodzic > #dziecko3 {
	animation-delay:750ms;
	-webkit-animation-delay:750ms;
}

#rodzic > #dziecko4 {
	animation-delay:1000ms;
	-webkit-animation-delay:1000ms;
}

#rodzic > #dziecko5 {
	animation-delay:1250ms;
	-webkit-animation-delay:1250ms;
}

#rodzic > #dziecko6 {
	animation-delay:1500ms;
	-webkit-animation-delay:1500ms;
}

#rodzic > #dziecko7 {
	animation-delay:1750ms;
	-webkit-animation-delay:1750ms;
}

#rodzic > #dziecko8 {
	animation-delay:2000ms;
	-webkit-animation-delay:2000ms;
}

#rodzic > #dziecko9 {
	animation-delay:2250ms;
	-webkit-animation-delay:2250ms;
}

#rodzic > #dziecko10 {
	animation-delay:2500ms;
	-webkit-animation-delay:2500ms;
}
#rodzic > #dziecko11 {
	animation-delay:2750ms;
	-webkit-animation-delay:2750ms;
}
#rodzic > #dziecko12 {
	animation-delay:3000ms;
	-webkit-animation-delay:3000ms;
}

/*------------------------ANIMACJA------------------------*/
@keyframes animowany_tekst
{
	0% {transform:rotate(0deg);}
	10% {transform:rotate(360deg);}
	100% {transform:rotate(360deg);}
}

@-webkit-keyframes animowany_tekst
{
	0% {-webkit-transform:rotate(0deg);}
	10% {-webkit-transform:rotate(360deg);}
	100% {-webkit-transform:rotate(360deg);}
}

.post_date { color: #177212; }

#caly {
	padding-top: 10px;
	width:330px;
	line-height:50px;
	position:fixed;
	left:-270px;
	transition:1s;
	-webkit-transition:1s;
}

#caly:hover {
	left:0;
}

#blok1 {
	float:left;
	width:270px;
}

#blok2 {
	float:left;
	width:60px;
}

#blok_na_zawartosc {
	background-color: #ff8214;
	border:3px solid #fdf005;
	border-left:none;
	border-bottom-right-radius:6px;
}

#zawartosc {
	margin:0;
	padding:5px;
	height:150px;
	overflow:auto;
}

#uchwyt {
	text-align:center;
	font-weight:bold;
	color: #6b1d89;
	background-color: #fffe15;
	border-radius:0 6px 6px 0;
}

#uchwyt:hover {
	cursor:pointer;
}
#nowy
{
	padding-left: 700px;
	padding-top: 10px;
}
#nowy1
{
	padding-left: 550px;
	padding-top: 10px;
}

#nowy2
{
	padding-left: 800px;
	padding-top: 10px;
}

#wroc
{
	padding-left: 850px;
	padding-top: 30px;
}
#inneklawisze
{
	padding-left: 810px;
	padding-top: 30px;
}

#powrot
{
	padding-left: 100px;
	padding-top: 10px;
}

#powrot1
{
	padding-left: 80px;
	padding-top: 10px;
}

#radar
{
	position: relative;
	top: -120px;
	left: 25px;
	float: right;
	animation:Animacja 4s linear infinite;
}
@keyframes Animacja
{
	0% { transform:rotateY(0); }
	100% { transform:rotateY(360deg); }
}

#obok
{
	position: relative;
	top: -400px;
	left: 200px;
	float: right;

}

#tekst
{
	position: relative;
	top: -190px;
	left: -120px;
	float: right;
}

#okragle
{
	border-top-left-radius:6px;
	border-top-right-radius:12px;
	border-bottom-right-radius:18px;
	border-bottom-left-radius:24px;
}

#kursor
{
	cursor: url("http://downloads.totallyfreecursors.com/thumbnails/airplane1.gif"), pointer;
}
