{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="font-size: 30px">Dodaj nowe panstwo</h1>

<div id="nowy2">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Utworz" />
    {{ form_end(form) }}
<div/>
    <div id="powrot1">
    <ul>
        <li>
            <a href="{{ path('panstwa_index') }}" style="font-size:medium">Powrot</a>
        </li>
    </ul>
        <div/>
{% endblock %}
