<h1>

    <div style="color: #0088CC">************************************************** Panel kontroli lotów **************************************************</div>
    {{ form_start(form) }}
    {{ form_row(form.liniaLotnicza) }}
    <button type="submit" style="background: chartreuse; color: #555555 ">SPRAWDŹ</button>
    <div style="color: transparent">---------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
    {{ form_row(form.panstwo) }}
    <button type="submit" style="background: crimson;; color: #555555 ">SPRAWDŹ</button>

</h1>